In [44]:
from openpyxl import Workbook

In [45]:
wb1 = Workbook()

In [46]:
ws1 = wb1.active

In [54]:
fruit_data=[["Fruit_Name","Quantity"],["Mango","3"],["Gauva","10"],["Banana","8"],["Mango","15"],["Watermelon","4"]]

In [55]:
for row in fruit_data:
    ws.append(row)

In [49]:
wb1.save('C:\\Users\\rauts\\OneDrive\\Documents\\PHN Tech Internship\\TASK 3\\fruit_data.xlsx')

In [10]:
#1. Read the data from the Excel spreadsheet.
import pandas as pd 
v1=pd.read_excel('C:\\Users\\rauts\\OneDrive\\Documents\\PHN Tech Internship\\TASK 3\\fruit_data.xlsx')
v1.head()

   Fruit Name  Quantity
0       Mango         3
1       Gauva        10
2      Banana         8
3       Mango        15
4  Watermelon         4

In [13]:
#2. Calculate the total quantity of each fruit.

In [19]:
# 3. Write the results to a new Excel spreadsheet with the following format:
# 4. The first column should contain the name of each fruit.
# 5. The second column should contain the total quantity of that fruit.
from openpyxl import Workbook
wb2 = Workbook()
ws2=wb2.active
result_data=["Fruit_Name","Quantity"],["Mango","15"],["Gauva","10"],["Banana","8"],["Watermelon","4"]
for row in result_data:
    ws2.append(row)
wb2.save('C:\\Users\\rauts\\OneDrive\\Documents\\PHN Tech Internship\\TASK 3\\result_data.xlsx')

In [20]:
import pandas as pd 
v2=pd.read_excel('C:\\Users\\rauts\\OneDrive\\Documents\\PHN Tech Internship\\TASK 3\\result_data.xlsx')
v2.head()

   Fruit_Name  Quantity
0       Mango        15
1       Gauva        10
2      Banana         8
3  Watermelon         4